<div class="containerMenu">
   <div id="lineAcces" class="row">
      <div class="col-sm-4">
         <ul id="menuBasic" class="nav justify-content-center">
            <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="blog">Blog</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="produtos">Produtos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="">Login</a>
            </li>
         </ul>
      </div>
      <div id="colLogo" class="col-sm-4">
         <img src="/img/logo.png" alt="">
      </div>
      <div class="col-sm-4">
         <div id="redeSocial" class="row">
            <div id="colRedeSocial" class="col-sm">
               <img src="/img/facebook.png" alt="">
            </div>
            <div id="colRedeSocial" class="col-sm">
               <img src="/img/instagram.png" alt="">
            </div>
            <div id="colRedeSocial" class="col-sm">
               <img src="/img/whatsapp.png" alt="">
            </div>
            <div id="colRedeSocial" class="col-sm">
               <img src="/img/youtube.png" alt="">
            </div>
            <div id="colRedeSocial" class="col-sm">
               <img src="/img/carshop.png" alt="">
            </div>
         </div>
      </div>
   </div>
</div>